<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web">
        <link rel="stylesheet" href="/css/calendar.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/program">Program</a>
            <a class="active" href="/calendar">Calendar</a>
        </div>
        <div class="container">
            <div class="calendar">
                <div class="month">
                    <i class="fas fa-angle-left prev"></i>
                    <div class="date">
                        <h1></h1>
                        <p></p>
                    </div>
                    <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days">
                </div>
            </div>
        </div>
        <table>
            <% workoutdetails.forEach(function(workout) { %>
                <th><h3>Chest</h3></th>
                <th><h3>Back</h3></th>
                <th><h3>Shoulders</h3></th>
                <th><h3>Arms</h3></th>
                <th><h3>Legs</h3></th>
                <tbody>
                    <tr>
                        <td>
                            <p><%= workout.chest %></p>
                        </td>
                        <td>
                            <p><%= workout.back %></p>
                        </td>
                        <td>
                            <p><%= workout.shoulders %></p>
                        </td>
                        <td>
                            <p><%= workout.arms %></p>
                        </td>
                        <td>
                            <p><%= workout.legs %></p>
                        </td>
                    </tr>
                </tbody>
            <% }); %>
        </table>
        <script src="/js/calendar.js"></script>
    </body>
</html>